Repository thibaudonfack-cmd/Thorece_Web_Mobile: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

.gitlab-ci.yml:

image: maven:3.9-eclipse-temurin-21

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  IMAGE_TAG_BACKEND: $CI_REGISTRY_IMAGE/backend:latest
  IMAGE_TAG_FRONTEND: $CI_REGISTRY_IMAGE/frontend:latest

cache:
  paths:
    - .m2/repository

stages:
  - test
  - package
  - integration_testBruno
  - build_images
  - deploy

test_job:
  stage: test
  script:
    - cd backend
    - echo "üß™ Lancement des tests unitaires..."
    - mvn test
  artifacts:
    when: always
    reports:
      junit: backend/target/surefire-reports/TEST-*.xml
  rules:
    - changes:
        - backend/**/*
        - pom.xml

build_jar_job:
  stage: package
  script:
    - cd backend
    - echo "üì¶ Cr√©ation du fichier JAR final..."
    - mvn package -DskipTests
  artifacts:
    paths:
      - backend/target/*.jar
    expire_in: 1 week
  rules:
    - changes:
        - backend/**/*
        - pom.xml
        - bruno_tests/**/*
bruno_test_job:
  stage: integration_testBruno
  script:
    - echo "üîß Installation de Node.js et Bruno CLI..."
    - 'apt-get update && apt-get install -y curl'
    - 'curl -fsSL https://deb.nodesource.com/setup_20.x | bash -'
    - 'apt-get install -y nodejs'
    - 'node -v'
    - 'npm install -g @usebruno/cli'
    - 'echo "üöÄ D√©marrage du serveur Spring Boot (Profil: TEST)..."'
    - 'nohup java -jar backend/target/*.jar --spring.profiles.active=test > app.log 2>&1 &'
    - echo "‚è≥ Attente du d√©marrage (30s)..."
    - 'sleep 30'
    - 'cat app.log'
    - echo "ü§ñ Ex√©cution des tests Bruno..."
    - 'cd bruno_tests'
    - 'bru run --env CI --reporter-junit results.xml'
  artifacts:
    when: always
    reports:
      junit: bruno_tests/results.xml
  rules:
    - changes:
        - backend/**/*
        - pom.xml
        - bruno_tests/**/*

docker_build_backend:
  stage: build_images
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - echo "üê≥ Login au registre GitLab..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "üî® Construction de l'image Backend..."
    - docker build -f backend/Dockerfile -t $IMAGE_TAG_BACKEND .
    - echo "‚¨ÜÔ∏è Envoi vers le registre..."
    - docker push $IMAGE_TAG_BACKEND
  rules:
    - if: $CI_COMMIT_BRANCH == "ressources_commun"
      changes:
        - backend/**/*
        - pom.xml

docker_build_frontend:
  stage: build_images
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  script:
    - echo "üê≥ Login au registre GitLab..."
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "üî® Construction de l'image Frontend..."
    - cd frontend
    - docker build --build-arg VITE_API_URL=$VITE_API_URL -t $IMAGE_TAG_FRONTEND .
    - echo "‚¨ÜÔ∏è Envoi vers le registre..."
    - docker push $IMAGE_TAG_FRONTEND
  rules:
    - if: $CI_COMMIT_BRANCH == "ressources_commun"
      changes:
        - frontend/**/*
deploy_job:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$Cipe_SSH_PRIVATE_KEY" | wc -c
    - echo "$Cipe_SSH_PRIVATE_KEY" | head -n 1
    - echo "$Cipe_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  script:
    - echo "Connexion au VPS pour d√©ploiement..."
    - ssh $SSH_USER@$SSH_HOST "sudo /usr/local/bin/deploy.sh '$CI_REGISTRY_USER' '$CI_JOB_TOKEN' '$CI_REGISTRY'"
  rules:
    - if: $CI_COMMIT_BRANCH == "ressources_commun"
      changes:
        - frontend/**/*
        - backend/**/*
        - pom.xml

Premiere version Mini_Jeux
  backend/src/main/java/cipestudio/controller/MiniGameController.java
  backend/src/main/java/cipestudio/controller/UserController.java
  backend/src/main/java/cipestudio/dto/minigame/MiniGameRequestDTO.java
  backend/src/main/java/cipestudio/dto/minigame/MiniGameResponseDTO.java
  backend/src/main/java/cipestudio/dto/user/XpRequestDTO.java
  backend/src/main/java/cipestudio/mapper/MiniGameMapper.java
  backend/src/main/java/cipestudio/model/MiniGame.java
  backend/src/main/java/cipestudio/model/User.java
  backend/src/main/java/cipestudio/repository/MiniGameRepository.java
  backend/src/main/java/cipestudio/service/MiniGameService.java
  backend/src/main/java/cipestudio/service/UserService.java
  frontend/package-lock.json
  frontend/public/tuesday_visual.html
  frontend/src/features/auth/services/auth.service.js
  frontend/src/features/minigames/components/DigicodeGame.jsx
  frontend/src/features/minigames/components/DragDropGame.jsx
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
  frontend/src/features/minigames/services/minigame.service.js
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
  frontend/src/features/story/pages/VisualEditor.jsx
  package-lock.json
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Test Jeux
  backend/src/main/java/cipestudio/exceptions/handler/GlobalExceptionHandler.java
  backend/src/main/java/cipestudio/security/SecurityConfig.java
  frontend/public/tuesday_visual.html
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
  frontend/src/features/story/pages/VisualEditor.jsx
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Test integration
  diagrams/README.md
  diagrams/activity_create_book.puml
  diagrams/activity_refresh.puml
  diagrams/activity_register.puml
  diagrams/class_diagram.puml
  diagrams/component_diagram.puml
  diagrams/database_er.puml
  diagrams/deployment_diagram.puml
  diagrams/sequence_login.puml
  diagrams/sequence_publish_book.puml
  diagrams/sequence_refresh.puml
  diagrams/sequence_register.puml
  diagrams/sequence_verify_otp.puml
  diagrams/usecase.puml
  diagrams_2/README.md
  diagrams_2/architecture_simple_vs_scalable.puml
  diagrams_2/backend_layers.puml
  diagrams_2/cicd_pipeline.puml
  diagrams_2/deployment_strategies.puml
  diagrams_2/frontend_architecture.puml
  diagrams_2/git_workflow.puml
  diagrams_2/logging_monitoring.puml
  diagrams_2/monolith_vs_microservices.puml
  diagrams_2/technology_stack.puml
  diagrams_2/testing_pyramid.puml
  frontend/public/tuesday_visual.html
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
Due: docker_build_frontend, deploy_job

Fix: Correction complète de l'intégration des mini-jeux
  backend/src/main/java/cipestudio/dto/minigame/MiniGameRequestDTO.java
  backend/src/main/java/cipestudio/dto/minigame/MiniGameResponseDTO.java
  backend/src/main/java/cipestudio/mapper/MiniGameMapper.java
  backend/src/main/java/cipestudio/service/MiniGameService.java
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Fix: Correction du déclenchement des mini-jeux lors de la lecture
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
Due: docker_build_frontend, deploy_job

Fix: Amélioration de la gestion d'erreurs pour le chargement des mini-jeux
  backend/src/main/java/cipestudio/service/MiniGameService.java
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
  frontend/src/features/minigames/services/minigame.service.js
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Fix: Correction des permissions pour les mini-jeux - Autorisation des ENFANTS en lecture
  backend/src/main/java/cipestudio/security/SecurityConfig.java
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, deploy_job

Feature: Amélioration de la visibilité des mini-jeux dans l'éditeur
  frontend/public/tuesday_visual.html
  frontend/src/features/story/pages/VisualEditor.jsx
Due: docker_build_frontend, deploy_job

Fix: Correction complète de l'intégration des mini-jeux
  frontend/src/features/story/components/TuesdayJsReaderWrapper.jsx
Due: docker_build_frontend, deploy_job

Fix: Correction complète de l'erreur "Unexpected end of JSON input"
  backend/src/main/java/cipestudio/service/MiniGameService.java
  frontend/src/features/minigames/services/minigame.service.js
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Fix: Correction des permissions 403 pour les ENFANTS lors de la lecture des mini-jeux
  backend/src/main/java/cipestudio/security/SecurityConfig.java
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, deploy_job

Feature: Implémentation du jeu Puzzle Visuel pour remplacer Cadenas Mystique
  backend/src/main/java/cipestudio/enums/GameType.java
  frontend/src/features/minigames/components/ImagePuzzleGame.jsx
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Fix: Correction des erreurs "Data truncated" et implémentation du stockage d'images dans SeaweedFS
  backend/src/main/java/cipestudio/controller/MiniGameController.java
  backend/src/main/java/cipestudio/model/MiniGame.java
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/services/minigame.service.js
Due: test_job, build_jar_job, bruno_test_job, docker_build_backend, docker_build_frontend, deploy_job

Fix: Correction de l'erreur "Failed to resolve import lucide-react"
  frontend/src/features/minigames/components/ImagePuzzleGame.jsx
Due: docker_build_frontend, deploy_job

Feature: Refonte complète du mini-jeu Puzzle Visuel avec UI/UX premium
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/minigames/components/DefeatScreen.jsx
  frontend/src/features/minigames/components/ImagePuzzleGame.jsx
  frontend/src/features/minigames/components/PuzzlePiece.jsx
  frontend/src/features/minigames/components/VictoryScreen.jsx
  frontend/src/features/minigames/stores/usePuzzleStore.js
Due: docker_build_frontend, deploy_job

Fix: Correction critique du timeout et blocage des interactions en cas de défaite
  frontend/src/features/minigames/components/ImagePuzzleGame.jsx
  frontend/src/features/minigames/stores/usePuzzleStore.js
Due: docker_build_frontend, deploy_job

Feature: Suppression de la possibilité de réessayer après défaite + redirection automatique
  frontend/src/features/minigames/components/DefeatScreen.jsx
  frontend/src/features/minigames/components/ImagePuzzleGame.jsx
Due: docker_build_frontend, deploy_job

Feature: Implémentation complète du mini-jeu Memory (Jeu de Paires)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryDefeatScreen.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/components/MemoryVictoryScreen.jsx
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/components/MiniGameOverlay.jsx
  frontend/src/features/minigames/stores/useMemoryStore.js
Due: docker_build_frontend, deploy_job

Feature: Améliorations majeures interactivité et visibilité Memory Game
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/utils/soundEffects.js
Due: docker_build_frontend, deploy_job

Fix: Corrections critiques Memory Game - Upload images + Bug victoire
  MEMORY_GAME_DEBUG.md
  frontend/src/features/minigames/services/minigame.service.js
  frontend/src/features/minigames/stores/useMemoryStore.js
Due: docker_build_frontend, deploy_job

Debug: Ajout logs complets pour diagnostic Memory Game
  MEMORY_GAME_TEST_GUIDE.md
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/stores/useMemoryStore.js
Due: docker_build_frontend, deploy_job

Fix: Corrections critiques Memory Game - Interaction + UI/UX
  frontend/src/features/minigames/components/MemoryDefeatScreen.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/components/MemoryVictoryScreen.jsx
Due: docker_build_frontend, deploy_job

Fix: Corrections CRITIQUES visibilité + affichage Memory Game
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/stores/useMemoryStore.js
Due: docker_build_frontend, deploy_job

Fix: Corrections MAJEURES visibilité images + responsive + erreurs
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
Due: docker_build_frontend, deploy_job

Fix: CORRECTION CRITIQUE - Erreur Framer Motion keyframes
  frontend/src/features/minigames/components/MemoryCard.jsx
  frontend/src/features/minigames/components/MemoryDefeatScreen.jsx
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/components/MemoryVictoryScreen.jsx
Due: docker_build_frontend, deploy_job

Feature: Bibliothèque d'images par défaut + Fix erreur audio
  frontend/src/features/minigames/components/MemoryGame.jsx
  frontend/src/features/minigames/components/MiniGameConfigModal.jsx
  frontend/src/features/minigames/data/defaultImages.js
Due: docker_build_frontend, deploy_job
